.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img {
    width: 350px;
    height: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* .ellipse {
    width: 100px; 
    height: 100px;
    top: 150px; 
    transform: translateX(-50%);
  } */

.ellipse {
    display: flex;
    justify-content: flex-end;
  }

.ellipse img {
  padding-left: 750px;
}

  .nav-title {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
    order: 0;
    flex-grow: 0;
    margin: 0;
    padding-bottom: 10px;
  }
  
  .nav-description {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1A1A1A;
    order: 1;
    flex-grow: 0;
    margin: 10px 0;
  }
  

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    width: 150px;
    height: 40px;
    background: #47B6AA;
    box-shadow: -4px 16px 20px rgba(76, 185, 173, 0.3), inset 0px 0px 50px #57C0B4;
    border-radius: 16px;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}

.btn:hover{
    background: white;
    color: #47B6AA;
}

.btn-mini {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    background: white;
    /* box-shadow: -4px 16px 20px rgba(76, 185, 173, 0.3), inset 0px 0px 50px #57C0B4; */
    /* border-radius: 16px; */
    border: 1px solid #47B6AA;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #47B6AA;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
  
}

.btn-mini:hover{
    background: #47B6AA;
    color: white;
    box-shadow: -4px 16px 20px rgba(76, 185, 173, 0.3), inset 0px 0px 50px #57C0B4;
}

.btn-voice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 200px
}

.back-image {
    background-image: url(../images/Ellipse\ 13.png);
    background-position: left center, left;
    background-repeat: no-repeat;
}
.back-image-btn {
    background-image: url(../images/Ellipse\ 19.png);
    background-position: right center, right;
    background-repeat: no-repeat;
    
}
/* ============================================= */


.input-outer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 150px;
}

.input-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 50px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 2px dashed #4DB7AC;
  box-shadow: -20px -20px 50px rgba(255, 255, 255, 0.5), 20px 20px 50px rgba(225, 225, 230, 0.8), inset 0px 0px 50px rgba(217, 217, 217, 0.2);
  border-radius: 16px;
}

.input-inner p {
  font-family: 'Exo 2', sans-serif;padding-left: 20px;
}

.upload-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.upload-file {
  display: flex;
  flex-direction: column;
}

.upload-file button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;  
  background: #FFFFFF;
  border: 1px solid #4DB7AC;
  box-shadow: -20px -20px 50px rgba(255, 255, 255, 0.5), 20px 20px 50px rgba(225, 225, 230, 0.8), inset 0px 0px 50px rgba(217, 217, 217, 0.2);
  border-radius: 16px;
  color: #47B6AA;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;

}
.upload-file button:hover {
  background: #47B6AA;
  color: white;
  cursor: pointer;

}


#status {
  margin-top: 10px;
}

.upload-file input[type="file"] {
  color: black;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
}

.upload-file label {
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
}



.input-file {
	position: relative;
	display: inline-block;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #59be6e;
  cursor: pointer;
}
.input-file:active .input-file-btn {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}


.status-info {
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  color: rgb(224, 17, 17);
  
}
.prediction-info {
  font-size: 24px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  color: #47B6AA
  
}


/* ============================================== */

.mouse-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
}

.people-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}


.people-list p {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgba(77, 183, 172, 0.5);
}
.people-list h3 {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgba(67, 165, 155, 0.9);
}
.people-list h2 {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #44958C;
}
  .row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
  }
  
  .box-left {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #55B9AE;
    box-shadow: -40px -40px 80px rgba(255, 255, 255, 0.8), 40px 40px 50px rgba(225, 225, 230, 0.8), inset 0px 0px 50px rgba(217, 217, 217, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 350px;
  }

  .box-left h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 38px;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4DB7AC;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Exo 2', sans-serif;
  }

  .box-center {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #82CCC4;
    box-shadow: -40px -40px 80px rgba(255, 255, 255, 0.8), 40px 40px 50px rgba(225, 225, 230, 0.8), inset 0px 0px 50px rgba(217, 217, 217, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0px 30px;
    width: 350px;
  }

  .box-center h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 38px;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4DB7AC;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Exo 2', sans-serif;
  }
  
  .box-right {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #AFDED9;
    box-shadow: -40px -40px 80px rgba(255, 255, 255, 0.8), 40px 40px 50px rgba(225, 225, 230, 0.8), inset 0px 0px 50px rgba(217, 217, 217, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 350px;
  } 

  .box-right h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 38px;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4DB7AC;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Exo 2', sans-serif;
  }

  .extra-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .extra-info-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }

  .extra-info p {
    font-family: 'Exo 2', sans-serif;
    padding-left: 10px;
  }
